## Nettoyage de données :
Dans ce notebook, le but sera de nettoyer les données pour une meilleure lisibilité ainsi que pour leur utilisation futur par nos modèles de prédiction.

In [9]:
import pandas as pd
import os

In [10]:
df = pd.read_csv("/content/premier_league_matches_raw.csv")
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=125)

Nous allons renommer les colonnes pour plus de lisibilité et garder uniquement celles qui nous intéressent.

In [12]:
dic = {
    "Date": "date_match",
    "HomeTeam": "equipe_dom",
    "AwayTeam": "equipe_ext",

    "FTHG": "buts_dom",
    "FTAG": "buts_ext",
    "FTR": "resultat",

    "HS": "tirs_dom",
    "AS": "tirs_ext",
    "HST": "tirs_cadres_dom",
    "AST": "tirs_cadres_ext",

    "HY": "jaunes_dom",
    "AY": "jaunes_ext",
    "HR": "rouges_dom",
    "AR": "rouges_ext"
}

df = df.rename(columns=dic)

In [16]:
colonnes_a_garder = [
    "date_match",
    "equipe_dom",
    "equipe_ext",

    "buts_dom",
    "buts_ext",
    "resultat",

    "tirs_dom",
    "tirs_ext",
    "tirs_cadres_dom",
    "tirs_cadres_ext",

    "jaunes_dom",
    "jaunes_ext",
    "rouges_dom",
    "rouges_ext",

    "cible_resultat",
    "season"
]
df = df[colonnes_a_garder]

In [17]:
df["cible_resultat"] = df["resultat"].map({
    "H": 2,
    "D": 1,
    "A": 0
})

In [18]:
df[["resultat", "cible_resultat"]].value_counts()

resultat  cible_resultat
H         2                 1019
A         0                  758
D         1                  503
Name: count, dtype: int64

In [19]:
df.to_csv(
    "/content/premier_league_nettoye.csv",
    index=False
)

Bien évidemment ceci n'est qu'une approche préliminaire, le but final serait de prédire le résultat d'un match en fonction de plus de paramètres. Mais il faudrait commencer par une analyse simpliste.